*{
	font-family: 'Verdana', sans-serif;
	font-size: 20px;
}

h1{
	font-size: 50px;
}

#bootcamp {
	text-transform: uppercase;
}

.sheet{
	background-color: green;
}

li[for="tools"]{
	border: 1px solid;
	background-color: white;
	border-color: skyblue;
}

img + ul{
	list-style-type: none;
}


section img{height: 300px;
	border-width: 300px;
	border-radius: 150px;
}

ul ~ p{text-align: center;

}

 ul li{
	letter-spacing: 20px;
}



